@font-face {
    font-family: 'bobby-jones';
    src: url("./bobby-jones.otf");
}

@font-face {
    font-family: 'fira-sans';
    src: url("./FiraSans-Medium.ttf")
}

* {
    font-family: fira-sans, Tahoma, Helvetica, sans-serif;
    background-color: hsl(46, 100%, 95%);
}

html {
    padding-top: 1em;
}

h2 {
    text-align: center;
}

h3 {
    padding-top: 2em;
}

div p {
    font-style: oblique;
}   

div {
    text-align: center;
}

.page-title {
    font-family: 'bobby-jones';
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: hsl(228, 100%, 16%)
}

.homepage-link {
    text-align: center;
    font-size: 44px;
}

#top-hl {
    padding-top: 1em;
}

#whooping,
#charmed,
#screaming-crying-throwing-up {
    font-size: 24px;
    font-weight: 800;
}

#whooping {
    color: red;
}

#charmed {
    color: rgb(35, 179, 226);
}

#screaming-crying-throwing-up {
    color: darkblue;
}